:root{

    /* Font-Family */
    
    --font-family: "Roboto", sans-serif;


    /* Colors */

    --text: #F7F7F8;
    --primary: #335FFF;
    --secondary: rgb(0, 162, 0);
    --light: #B8B8B8;
    --background: #191a1f;
    --dark-grey: #272930;
    --dark: #121215;
    --dark2: #72737714;
    --hint: #353741;
}