@media screen and (max-width: 480px){

    footer{
        margin: 0;
    }

    footer .footer-link{
        justify-content: center;
    }

    footer .footer-select-language{
        flex-direction: column;
    }

    footer .footer-select-language select{
        padding-left: 3rem;
    }

    footer .footer-select-language i{
        left: 2%;
        top: 23%;
    }

    footer .footer-select-language p{
        padding: 2rem 0;
        margin: 0;
    }
}