@media screen and (max-width: 480px){

    footer{
        margin: 0;
    }

    footer .footer-link{
        justify-content: center;
        height: 150px;
    }

    footer .footer-select-language{
        flex-direction: column;
    }

    footer .footer-select-language select{
        padding-left: 3rem;
    }

    footer .footer-select-language i{
        left: 2%;
        top: 23%;
    }

    footer .footer-select-language p{
        padding: 2rem 0;
        margin: 0;
    }
}

@media (min-width:550px) and (max-width:1024px){

    footer{
        margin: 0;
    }

    footer .footer-link{
        justify-content: center;
    }

    footer .footer-link a{
        padding: 0 1rem;
    }

    footer .footer-select-language p{
        margin: 0;
        margin-left: 2rem;
        font-size: 1rem;
    }

}