@media screen and (max-width: 480px){
    main{
        padding: 2.4rem 0 0;
    }

    main .friends-container h1{
        padding: 1rem 0;
    }

    main .friends-container{
        padding: 0 1.5rem;
    }
}