/* Create Account */

.create-account-container {
  background: url(/image/fond-connection.jpg) center center/cover;
  min-height: 120vh;
  position: relative;
  z-index: 1;
}

.create-account-container::after {
  position: absolute;
  content: "";
  inset: 0;
  box-shadow: inset 0 300px 100px rgba(0, 0, 0, 0.45),
    /* haut */ inset 0 -300px 100px rgba(0, 0, 0, 0.45),
    /* bas */ inset 300px 0 100px rgba(0, 0, 0, 0.45),
    /* gauche */ inset -300px 0 100px rgba(0, 0, 0, 0.45); /* droite */
  z-index: -1;
}

.header-create-account {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 2rem 0;
}

.header-create-account img {
  grid-column: 2;
  height: 100px;
  width: 400px;
}

.header-create-account a {
  grid-column: 3;
  justify-self: end;
  background-color: var(--text);
  color: var(--dark);
  border-radius: 0.7rem;
  padding: 0.9rem 3rem;
  margin-right: 2rem;
  transform: translateY(-30px);
}

.register-account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-account-container .btn-register {
  background-color: var(--text);
  color: var(--dark);
  border-radius: 0.7rem;
  padding: 1rem;
  text-align: center;
}

.register-account-container p {
  width: 410px;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.register-account-container p a {
  color: var(--primary);
  text-decoration: underline;
}

.register-account-container form {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  padding: 1.5rem 2.3rem;
  border-radius: 1rem;
}

.register-account-container form h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0.5rem 0 1rem;
}

.register-account-container form select {
  width: 32.5%;
  background-color: var(--dark-grey);
  margin-bottom: 3rem;
}

.register-account-container form input {
  background-color: var(--dark-grey);
  color: white;
  padding: 1rem 1.5rem;
  border: 1px solid var(--light);
  border-radius: 0.7rem;
  width: 415px;
  margin-bottom: 3rem;
}

.register-account-container .gender-button {
  display: flex;
  flex-flow: row nowrap;
}

.gender-button button {
  width: 50%;
  background-color: var(--dark-grey);
  padding: 1rem 0;
  border: 1px solid var(--light);
  margin-bottom: 2rem;
}

.gender-button button:nth-child(1) {
  border-bottom-left-radius: 0.7rem;
  border-top-left-radius: 0.7rem;
}

.gender-button button:nth-child(2) {
  border-bottom-right-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.gender-button button i {
  transition: transform 0.4s ease-in;
  color: var(--text);
  font-size: 2.7rem;
}

.app-container{
    margin-top: 3.5rem;
    display: flex;
   flex-direction: column;
    align-items: center;
}

.app-link{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.app-container h4{
    padding: 0.5rem 1rem 2rem;
    width: 80%;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}

.app-container a{
    margin: 0.8rem;
}

.app-container a img{
    height: 50px;
}

@media screen and (max-width: 480px) {
  .register-account-container form {
    max-width: 385px;
  }

  .register-account-container form h2 {
    margin-bottom: 2.5rem;
    font-size: 2.2rem;
  }

  .register-account-container form input {
    width: 340px;
  }

  .register-account-container p {
    width: 350px;
  }
}

.nav-login {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  margin-left: 400px;
}

.nav-login a {
  background-color: transparent;
  border-radius: 0.7rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border: 1px solid var(--text);
  margin-left: 0.5rem;
}

.nav-login a:first-child {
  background-color: var(--primary);
  border: 0;
}

main .login-container {
  padding: 6rem 0 0;
  margin: 0 3rem;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .form-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-grey);
  padding: 1rem 1.5rem;
  max-width: 420px;
  border-radius: 0.4rem;
}

main .header-login-container {
  border-bottom: 1.5px solid var(--hint);
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
}

main .bottom-login-container {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0;
}

main .form-login-container h1 {
  text-align: center;
  padding: 1.5rem 0 0.5rem;
}

main .form-login-container input {
  width: 380px;
  margin: 0.5rem;
  padding: 1rem 1.3rem;
  background-color: var(--hint);
  border: 0.5px solid grey;
  border-radius: 0.7rem;
  color: var(--text);
}

main .form-login-container input:first-of-type {
  margin-bottom: 1.5rem;
}

main .form-login-container .bottom-login-container a {
  margin-top: 2rem;
}

main .form-login-container .header-login-container button {
  width: 380px;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 1rem;
  background-color: transparent;
  border: 1px solid var(--text);
  padding: 0.8rem 1rem;
  color: var(--text);
  margin: 0.6rem 0 2rem;
}

main .form-login-container .header-login-container a,
main .form-login-container .bottom-login-container a {
  padding: 0;
  text-align: center;
}

main .bottom-login-container button {
  width: 380px;
  font-size: 1.6rem;
  background-color: var(--hint);
  color: var(--text);
  border-radius: 0.7rem;
  padding: 1rem 1.3rem;
  font-weight: 500;
  border: 0;
  outline: 0;
  margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
  .nav-login {
    margin-left: 0px;
  }

  main .form-login-container {
    max-width: 390px;
  }

  main .bottom-login-container button,
  main .header-login-container button,
  main .form-login-container input{
    max-width: 365px;
  }

  main .bottom-login-container button{
    padding: 0.7rem 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav-login {
    margin-left: 150px;
  }
}
