/* Header */

.btn:hover {
  background-color: var(--hint);
}

header .header-logo a {
  border-bottom: 0 !important;
}

header .header-link a:hover {
  border-bottom: 2px solid var(--text);
}

header .search-container input:focus {
  border: 1px solid rgb(131, 130, 130);
}

header nav .small-text:hover {
  transform: scale(1.4);
}

header nav h3:hover {
  text-decoration: underline;
}

#sidebar li:hover i{
  color: white;
}


/* Main */

.see-btn:hover {
  text-decoration: underline;
}

main .friends-list-player:hover {
  text-decoration: underline;
}

main .game-container:hover {
  background-color: var(--dark-grey);
}

.friends-list-player:hover #pop-up {
  visibility: visible;
}

#pop-up p:hover{
  background-color:rgb(61, 61, 61);
}

#pop-up p:hover i{
  color: var(--text);
}

.friends-list-player:hover #pop-up-deconnection {
  visibility: visible;
}

#pop-up-deconnection p:hover{
  background-color:rgb(61, 61, 61);
}

#pop-up-deconnection p:hover i{
  color: var(--text);
}

/* Footer */

footer .footer-link li a:hover{
  color: var(--text);
}

footer .footer-select-language select:hover, main .items-header select:hover{
  color: var(--text);
  border: 1px solid white;
}

footer .footer-select-language select option:hover{
  background-color: var(--hint);
  color: var(--text);
}

/* Marketplace */

main .items-header .market-container i:hover{
  color: var(--text);
}

main .marketplace-header-button .btn-select:hover{
  background-color: var(--dark-grey);
  color: var(--text);
}

main .header-items:hover{
  background-color: var(--hint);
}

main .header-items:hover button{
  visibility: visible;
}

/* Login */

.gender-button button:hover:nth-of-type(1) i{
  color: rgb(237, 29, 172);
  transform: scale(1.3);
}

.gender-button button:hover:nth-of-type(2) i{
  color:rgb(2, 161, 247);
  transform: scale(1.3);
}

