/* Header */

header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  background-color: var(--background);
  min-height: 4.5rem;
  overflow: auto;
  z-index: 100;
}

header .header-link {
  display: flex;
  align-items: center;
  gap: 0;
}

header .header-link a {
  padding: 0.6rem 3.2rem;
  border: 1px solid transparent;
  line-height: 1.7em;
}

header .search-container {
  position: relative;
}

header .search-container i {
  position: absolute;
  top: 25%;
  left: 10px;
  color: rgb(184, 184, 184);
  cursor: pointer;
}

header .search-container input {
  color: var(--text);
  padding: 0.8rem 20rem 0.8rem 3.5rem;
  border: 1px solid var(--hint);
  border-radius: 1rem;
  outline: 0;
  background-color: var(--dark2);
}

header .header-logo {
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
}

header .header-logo .logo-roblox {
  height: 3rem;
  min-width: 3rem;
  margin-left: 0.5rem;
  cursor: pointer;
  animation: spin-bounce 4s 1s infinite;
}

header .header-logo a {
  padding: 0;
}

header nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: 1rem;
  margin-left: 23.5rem;
}

header nav img {
  height: 3rem;
  border-radius: 50%;
  background-color: var(--light);
}

header nav h3 {
  font-size: 1.4rem;
  margin: 0 0.6rem;
  cursor: pointer;
}

header nav p {
  margin-right: 1.5rem;
}

header nav i {
  position: relative;
}

header nav i span {
  position: absolute;
  background-color: red;
  font-size: 0.9rem;
  border-radius: 50%;
  padding: 0.6rem 0.4rem;
  top: 10%;
  right: 15%;
}

header .container-robux {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 1.7rem;
  margin-right: 0.4rem;
}

header .container-robux img {
  background-color: var(--background);
  height: 2.8rem;
  width: 2.8rem;
}

header .container-robux p {
  padding-left: 0.5rem;
}

/* Main */

main {
  padding: 2.5rem 2.7rem 0;
}

main .friends-container h1 {
  font-size: 3.2rem;
  letter-spacing: 0.1rem;
  padding: 5rem 0 1.5rem;
  font-weight: 800;
}

main .header-container {
  margin: 0.3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .friends-list-container {
  display: flex;
  flex-flow: row nowrap;
  min-width: 100%;
  padding: 0 1rem;
  justify-content: space-evenly;
}

main .friends-list-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.1rem 0.4rem;
  cursor: pointer;
  position: relative;
}

main .friends-list-player img:first-child {
  border-radius: 50%;
  max-width: 9rem;
  background-color: var(--text);
}

main .friends-list-player img:nth-child(2) {
  position: absolute;
  max-width: 2.5rem;
  right: 3%;
  bottom: 35%;
}

main .friends-list-player p {
  padding-top: 0.2rem;
}

main .friends-list-player i {
  font-size: 2rem;
  position: absolute;
  right: 3%;
  bottom: 35%;
}

main .recommend-container {
  padding: 3rem 0;
}

main .recommend-list-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "ophelia piggy guesser tower killer"
    "duel spider erpo math country";
}

main .recommend-list-container > .game-container:first-child {
  grid-area: ophelia;
}

main .recommend-list-container > .game-container:nth-child(2) {
  grid-area: piggy;
}

main .recommend-list-container > .game-container:nth-child(3) {
  grid-area: guesser;
}

main .recommend-list-container > .game-container:nth-child(4) {
  grid-area: tower;
}

main .recommend-list-container > .game-container:nth-child(5) {
  grid-area: killer;
}

main .recommend-list-container > .game-container:nth-child(6) {
  grid-area: duel;
}

main .recommend-list-container > .game-container:nth-child(7) {
  grid-area: spider;
}

main .recommend-list-container > .game-container:nth-child(8) {
  grid-area: erpo;
}

main .recommend-list-container > .game-container:nth-child(9) {
  grid-area: math;
}

main .recommend-list-container > .game-container:nth-child(10) {
  grid-area: country;
}

main .game-container {
  border-radius: 1rem;
  padding: 1.4rem;
  transition: background-color 0.5s 0.2s;
  cursor: pointer;
}

main .game-container img {
  border-radius: 1rem;
}

main .game-container h3 {
  margin-top: 0.6rem;
}

main .continue-container {
  padding-bottom: 0.5rem;
}

main .continue-list-container {
  display: flex;
  flex-flow: row nowrap;
}

main .continue-list-container > .game-container {
  min-height: 20rem;
}

main .continue-list-container > .game-container img {
  min-height: 15rem;
  min-width: 15rem;
}

main .continue-list-container i:nth-child(2) {
  padding-left: 1rem;
  padding-right: 0.3rem;
}

main .continue-list-container > .game-container:first-child h3,
main .continue-list-container > .game-container:nth-child(2) h3,
main .continue-list-container > .game-container:nth-child(3) h3,
main .continue-list-container > .game-container:nth-child(7) h3,
main .continue-list-container > .game-container:nth-child(8) h3 {
  margin-bottom: 2rem;
}

main .favorite-container {
  padding-bottom: 0.5rem;
}

main .favorite-list-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  gap: 1.5rem;
}

main .favorite-list-container > .game-container {
  min-height: 20rem;
  padding: 0;
}

main .favorite-list-container > .game-container img {
  max-height: 160px;
  max-width: 160px;
}

main .favorite-list-container i:nth-child(2) {
  padding-left: 1rem;
  padding-right: 0.3rem;
}

/* Footer */

footer {
  margin: 0 250px 0 200px;
  padding: 1.5rem;
}

footer .footer-link {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin: 2rem 0 3rem;
  height: 70px;
}

footer .footer-link li a {
  color: var(--light-grey);
}

footer .footer-select-language {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  border-top: 1px solid var(--hint);
  padding: 2.4rem 0 0;
}

footer .footer-select-language select {
  cursor: pointer;
  min-width: 270px;
  height: 35px;
  background: transparent;
  color: var(--light-grey);
  font-size: 1.6rem;
  padding: 0.5rem 1.2rem 0.5rem 3rem;
  border: 1px solid var(--light);
  border-radius: 0.3rem;
}

footer .footer-select-language select option {
  background-color: var(--dark-grey);
  padding: 1rem 1.2rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  cursor: pointer;
}

footer .footer-select-language i {
  position: absolute;
  color: var(--light-grey);
  top: 55%;
  left: 1%;
}

footer .footer-select-language p {
  padding: 0;
  margin-left: 2.4rem;
  font-size: 1.2rem;
  color: var(--light-grey);
}

/* Charts Content */

main .charts-header-container h1 {
  font-size: 3.2rem;
  letter-spacing: 0.1rem;
  padding: 5rem 0 1.5rem;
  font-weight: 800;
}

<<<<<<< HEAD
main .select-device-container p {
  padding: 0.3rem 0;
}

main .select-device-container select {
=======
main .select-device-container p{
  padding: 0.3rem 0;
}

main .select-device-container select{
>>>>>>> a9af76ae3f0131bda0efb72832d349de1e9d463f
  height: 35px;
  font-size: 1.6rem;
  font-family: var(--font-family);
  color: var(--light-grey);
  background-color: var(--dark-grey);
  border-radius: 2rem;
  padding: 0 2rem;
  font-weight: 600;
  border: 0;
  margin-bottom: 1.5rem;
<<<<<<< HEAD
  cursor: pointer;
}

main .charts-container {
  padding: 2rem 0;
}

main .trend-list-container,
.popular-list-container,
.top-list-container,
.mark-list-container,
.fun-list-container {
=======
}

main .charts-container{
  padding: 2rem 0;
}

main .trend-list-container{
>>>>>>> a9af76ae3f0131bda0efb72832d349de1e9d463f
  display: flex;
  flex-flow: row nowrap;
  gap: 1.2rem;
}

<<<<<<< HEAD
main .trend-list-container > .game-container,
main .popular-list-container > .game-container,
main .top-list-container > .game-container,
main .fun-list-container > .game-container,
main .mark-list-container > .game-container {
  padding: 0;
  height: 240px;
}

main .trend-list-container > .game-container img,
main .popular-list-container > .game-container img,
main .top-list-container > .game-container img,
main .fun-list-container > .game-container img,
main .mark-list-container > .game-container img {
  height: 150px;
  max-width: 100%;
}

main .trend-list-container i:nth-child(2),
main .popular-list-container > .game-container i:nth-child(2),
main .top-list-container > .game-container i:nth-child(2),
main .fun-list-container > .game-container i:nth-child(2),
main .mark-list-container > .game-container i:nth-child(2) {
=======
main .trend-list-container > .game-container {
  padding: 0;
  height: 240px;
  
}

main .trend-list-container > .game-container img{
  height: 150px;
  max-width: 150px;
}

main .trend-list-container i:nth-child(2) {
>>>>>>> a9af76ae3f0131bda0efb72832d349de1e9d463f
  padding-left: 1rem;
  padding-right: 0.3rem;
}

main .trend-list-container > .game-container:first-child h3,
main .trend-list-container > .game-container:nth-child(4) h3,
main .trend-list-container > .game-container:nth-child(5) h3,
main .trend-list-container > .game-container:nth-child(7) h3,
main .trend-list-container > .game-container:nth-child(8) h3 {
  margin-bottom: 2rem;
}

<<<<<<< HEAD

main .popular-list-container > .game-container:first-child h3,
main .popular-list-container > .game-container:nth-child(2) h3,
main .popular-list-container > .game-container:nth-child(5) h3,
main .popular-list-container > .game-container:nth-child(6) h3,
main .popular-list-container > .game-container:nth-child(9) h3 {
  margin-bottom: 2rem;
}

main .top-list-container > .game-container:first-child h3,
main .top-list-container > .game-container:nth-child(2) h3,
main .top-list-container > .game-container:nth-child(3) h3,
main .top-list-container > .game-container:nth-child(6) h3,
main .top-list-container > .game-container:nth-child(7) h3 {
  margin-bottom: 2rem;
}

main .fun-list-container > .game-container:nth-child(2) h3,
main .fun-list-container > .game-container:nth-child(3) h3,
main .fun-list-container > .game-container:nth-child(5) h3,
main .fun-list-container > .game-container:nth-child(7) h3,
main .fun-list-container > .game-container:nth-child(8) h3,
main .fun-list-container > .game-container:nth-child(9) h3{
  margin-bottom: 2rem;
}
=======
>>>>>>> a9af76ae3f0131bda0efb72832d349de1e9d463f
