html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--dark);
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  color: var(--text);
  margin: 0 auto;
}

h1 {
  font-size: 3.2rem;
  letter-spacing: 0.1rem;
  padding: 5rem 0 1.5rem;
  font-weight: 800;
}

ul {
  list-style: none;
}

p {
  padding: 1rem 0;
}

i {
  font-size: 1.7rem;
  padding-right: 0.5rem;
}

a {
  text-decoration: none;
  color: var(--text);
}

img {
  max-width: 100%;
}

button {
  border: 0;
  cursor: pointer;
}

select{
  cursor: pointer;
  font-family: var(--font-family);
  min-width: 100px;
  height: 35px;
  background: transparent;
  color: var(--light-grey);
  font-size: 1.6rem;
  border: 1px solid var(--light);
  border-radius: 0.3rem;
}

label{
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

::placeholder {
  color: rgb(184, 184, 184);
  font-size: 1.5rem;
}
