.small-text {
  font-size: 1.2rem;
  color: var(--light);
}

.title {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.see-btn {
  font-weight: 500;
  padding-right: 1rem;
}

.player-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  padding-top: 0.5rem;
}

.btn {
  padding: 1.8rem 1rem;
  outline: 0;
  color: var(--text);
  background-color: var(--background);
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn-online {
  background-color: var(--primary);
  color: var(--text);
  padding: 0.4rem 0.5rem;
  border-radius: 50%;
}

.btn-inline {
  background-color: var(--secondary);
  color: var(--text);
  padding: 0.2rem;
  border-radius: 50%;
}

.search-container {
  position: relative;
}

.search-container i {
  position: absolute;
  top: 22%;
  left: 10px;
  color: rgb(184, 184, 184);
  cursor: pointer;
}

.search-container input {
  color: var(--text);
  padding: 0.8rem 20rem 0.8rem 3.5rem;
  border: 1px solid var(--hint);
  border-radius: 1rem;
  outline: 0;
  background-color: var(--dark2);
}